.calendar
    .calendar-header
        .calendar-header__prev
        .calendar-header__info Август 2019
        .calendar-header__next
    table.calendar-table
        tr.calendar-table-week
            td.calendar-table-week__item Пн
            td.calendar-table-week__item Вт
            td.calendar-table-week__item Ср
            td.calendar-table-week__item Чт
            td.calendar-table-week__item Пт
            td.calendar-table-week__item Сб
            td.calendar-table-week__item Вс
        tr.calendar-table-days
            td.calendar-table-days__inactive 29
            td.calendar-table-days__inactive 30
            td.calendar-table-days__inactive 31
            td.calendar-table-days__active 1
            td.calendar-table-days__active 2
            td.calendar-table-days__active 3
            td.calendar-table-days__active 4
        tr.calendar-table-days
            td.calendar-table-days__active 5
            td.calendar-table-days__active 6
            td.calendar-table-days__active 7
            td.calendar-table-days__active 8
            td.calendar-table-days__active 9
            td.calendar-table-days__active 10
            td.calendar-table-days__active 11
        tr.calendar-table-days
            td.calendar-table-days__active 12
            td.calendar-table-days__active 13
            td.calendar-table-days__active 14
            td.calendar-table-days__active 15
            td.calendar-table-days__active 16
            td.calendar-table-days__active 17
            td.calendar-table-days__active 18
        tr.calendar-table-days
            td.calendar-table-days__active 19
            td.calendar-table-days__active 20
            td.calendar-table-days__active 21
            td.calendar-table-days__active 22
            td.calendar-table-days__active 23
            td.calendar-table-days__active 24
            td.calendar-table-days__active 25
        tr.calendar-table-days
            td.calendar-table-days__active 26
            td.calendar-table-days__active 27
            td.calendar-table-days__active 28
            td.calendar-table-days__active 29
            td.calendar-table-days__active 30
            td.calendar-table-days__active 31
            td.calendar-table-days__inactive 1
    .calendar-button-group
        .button-group__clear Очистить
        .button-group__apply Применить
    