.product
    .product-slider
        span.product-slider__prev
        span.product-slider__next
        span.product-slider__carousel
    .product-info
        span.product-info__icon №
        span.product-info__number 888
        span.product-info__type Люкс
        span.product-info__price 9 990₽
        span.product-info__days в сутки
    .product-rating 
        span.product-rating__stars 
        span.product-rating__reviews-count 145
        span.product-rating__reviews-info Отзывов