.login
    .login__info Войти
    .login-reg
        input.login-reg__form(placeholder="Email")
        input.login-reg__form(placeholder="Пароль")
        button.login-reg__button Войти
    .login-auth 
        span.login-auth__info Нет аккаунта на Toxin?
        button.login-auth__button Создать