.price-selection
    .price-selection__wrapper
        .price-selection-info
            span.price-selection-info__icon № 
            span.price-selection-info__number 888
            span.price-selection-info__type Люкс
            span.price-selection-info__price 9 990₽
            span.price-selection-info__days в сутки
        .price-selection-list
            .price-selection-list__arrival Прибытие
              .price-selection-list__form-wrapper
                input.price-selection-list__form(type="19.08.2019")(placeholder="19.08.2019")
            .price-selection-list__departure Выезд
              .price-selection-list__form-wrapper
                input.price-selection-list__form(type="23.08.2019")(placeholder="23.08.2019")
            .price-selection-list__guests Гости
              .price-selection-list__form-wrapper
                input.price-selection-list__guests-form(type="3 гостя")(placeholder="3 гостя")
        .price-selection-count
            .price-selection-count-day
                span.price-selection-count-day__info 9 990₽ х 4 суток
                span.price-selection-count-day__price 39 960₽
            .price-selection-count-servise
                span.price-selection-count-servise__info Сбор за услуги: скидка 2 179₽
                span.price-selection-count-servise__price 0₽
            .price-selection-count-add-servise
                span.price-selection-count-add-servise__info Сбор за дополнительные услуги
                span.price-selection-count-add-servise__price 300₽
        .price-selection-final-price
            span.price-selection-final-price__info Итого
            span.price-selection-final-price__price 38 081₽
        button.price-selection__button Забронировать