@font-face {
    font-family: Montserrat-Regular;
    src: url("../fonts/Montserrat-Regular.ttf") format("truetype"),
}
@font-face {
    font-family: Montserrat-Bold;
    src: url("../fonts/Montserrat-Bold.ttf") format("truetype"),
}