// Color
$primary-color              : rgba(31, 32, 65);
$primary-color75            : rgba(31, 32, 65, 0.75);
$primary-color50            : rgba(31, 32, 65, 0.50);
$primary-color25            : rgba(31, 32, 65, 0.25);
$primary-color05            : rgba(31, 32, 65, 0.05);
$button-text                : #BC9CFF;
$primary-gradient           : linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
//Font
$MainFont                   : Montserrat-Regular;
$SecondFont                 : Montserrat-Bold;
