footer.footer
  .footer-wrapper
    .footer-top
      .footer-logo
        .footer-logo__item
          include ../logo-form/_logo-form
        .footer-logo__info Бронирование номеров в лучшем отеле 2019 года по версии ассоциации «Отельные взгляды»
      ul.footer-list.footer-list-nav
        li.footer-list__item Навигация
        li.footer-list__item
          a.footer-list__link(href="#") О нас
        li.footer-list__item  
          a.footer-list__link(href="#") Новости
        li.footer-list__item
          a.footer-list__link(href="#") Служба поддержки
        li.footer-list__item
          a.footer-list__link(href="#") Услуги
      ul.footer-list.footer-list-servise
        li.footer-list__item О нас
        li.footer-list__item
          a.footer-list__link(href="")  О сервисе
        li.footer-list__item
          a.footer-list__link(href="")  Наша команда
        li.footer-list__item
          a.footer-list__link(href="")  Вакансии
        li.footer-list__item
          a.footer-list__link(href="")  Инвесторы
      ul.footer-list.footer-list-support
        li.footer-list__item Служба поддержки
        li.footer-list__item
          a.footer-list__link(href="")  Соглашения
        li.footer-list__item
          a.footer-list__link(href="")  Сообщества
        li.footer-list__item
          a.footer-list__link(href="")  Связь с нами
      ul.footer-list.footer-list-subscription
        li.footer-list-subscription__item Подписка
        li.footer-list-subscription__info Получайте специальные предложения и новости сервиса
        input.footer-list-subscription__input(type="Email")(placeholder="Email")
    .footer-under Copyright © 2018 Toxin отель. Все права защищены.
      .footer-under-social
        a.footer-under-social__link(href="twitter.com")
          i.fa-brands.fa-twitter
        a.footer-under-social__link(href="facebook.com")
          i.fa-brands.fa-square-facebook
        a.footer-under-social__link(href="intagram.com")
          i.fa-brands.fa-instagram
      