.footer{
    &-line{
        margin-top: 90px;
        border-top: 1px solid #1F204140;
        border-radius: 4px;
    }
    margin-top: 93px;
    &-top{
        display: flex;
        flex-direction: row;
        width: 100%;
    }
    &-logo{
        width: 24.2%;
        margin-right: 20px;
        padding-top: 7px;
        &__item{
            padding-bottom: 17px;
        }
        &__info{
            font-family: Montserrat-Regular;
            font-size: 14px;
            line-height: 24px;
        }
    }
    &-list{
        &-nav{
            margin-right: 4.95%;
        }
        &-servise{
            margin-right: 8%;
        }
        &-support{
            margin-right: 4.5%;
        }
        &-subscription{
            width: 22%;
            &__item{
                padding-bottom: 6px;
                font-family: Montserrat-Bold;
                font-size: 12px;
                text-transform: uppercase;
            }
            &__form-wrapper{
                position: relative;
                &::after{
                    position: absolute;
                    content: url(/src/images/arrow_forward.svg);
                    right: 0;
                    top: 0;
                    background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                    background-clip: text;
                    text-fill-color: transparent;
                }
            }
            &__input{
                height: 40px;
                width: 254px;
                display: flex;
                border: 1px solid #1F204140;
                border-radius: 4px;
                &::placeholder{
                    font-family: Montserrat-Regular;
                    font-size: 14px;
                    font-weight: 400;
                    padding-left: 4%;
                }
            }
            &__info{
                line-height: 24px;
                padding-bottom: 23px;
            }
        }
        display: flex;
        flex-direction: column;
        font-family: Montserrat-Regular;
        font-size: 14px;
        line-height: 38px;
            &__item{
                
            }
            &__item:first-child{
                font-family: Montserrat-Bold;
                font-size: 12px;
                text-transform: uppercase;
            }   
            &__link{
                text-decoration: none;
                color: #1F204180;
            }
}
    &-under{
        height: 70px;
        display: flex;
        background-color: white;
        align-items: center;
        justify-content: space-between;
        font-family: Montserrat-Regular;
        font-size: 14px;
        background: #FFFFFF;
            &-social{ 
                margin-right: 2px;
                    &__link{
                        margin-left: 22px;
                    }
            }
    }
}
.fa-brands{
    font-size: 25px;
    background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}