@use "../../styles/vars.scss" as *;

.footer{
    padding: 0 140px;
    margin-top: 93px;
    &-line{
        margin-top: 90px;
        border-top: 1px solid $primary-color ;
        border-radius: 4px;
    }
    &-top{
        display: flex;
    }
    &-logo{
        width: 24%;
        padding-top: 7px;
        &__item{
            padding-bottom: 17px;
        }
        &__info{
            font-family: $MainFont;
            font-size: 14px;
            line-height: 24px;
        }
    }
    &-wrapper{
        display: flex;
        justify-content: space-between;
        padding-left: 21px;
        width: 74%;
    }
    &-list{
        display: flex;
        flex-direction: column;
        font-family: $MainFont;
        font-size: 14px;
        line-height: 38px;
        &-subscription{
            width: 30%;
            &__item{
                padding-bottom: 6px;
                font-family: $SecondFont;
                font-size: 12px;
                text-transform: uppercase;
            }
            &__form-wrapper{
                position: relative;
                &::after{
                    position: absolute;
                    content: url(/src/images/arrow_forward.svg);
                    right: 0;
                    top: 0;
                    background: $primary-gradient;
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                    background-clip: text;
                    text-fill-color: transparent;
                }
            }
            &__input{
                height: 40px;
                width: 254px;
                display: flex;
                border: 1px solid $primary-color25 ;
                border-radius: 4px;
                &::placeholder{
                    font-family: $MainFont;
                    font-size: 14px;
                    font-weight: 400;
                    padding-left: 4px;
                }
            }
            &__info{
                line-height: 24px;
                padding-bottom: 23px;
            }
            }
            &__item{
                
            }
            &__item:first-child{
                font-family: $SecondFont;
                font-size: 12px;
                text-transform: uppercase;
            }   
            &__link{
                text-decoration: none;
                color: $primary-color;
            }
}
    &-under{
        margin-top: 90px;
        border-top: 1px solid $primary-color25;
        border-radius: 4px;
        height: 70px;
        display: flex;
        background-color: white;
        align-items: center;
        justify-content: space-between;
        font-family: $MainFont;
        font-size: 14px;
            &-social{ 
                margin-right: 2px;
                    &__link{
                        margin-left: 22px;
                    }
            }
    }
}
.fa-brands{
    font-size: 25px;  
    background: $primary-gradient;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
@media (max-width: 1162px) {
    .footer{
        padding: 0px 50px;
    }
    .footer-list-subscription__input {
        width: 175px;
    }
}
@media (max-width: 1025px) {
    .footer{
        padding: 0 20px;
        flex-wrap: wrap;
        margin-top: 30px;
        &-top{
            flex-direction: column;
        }
        &-logo{
            width: 70%;
            display: flex;
            align-items: center;
            flex-direction: row;
            padding-bottom: 27px;
            justify-content: center;
            width: 100%;
                &__info{
                    width: 50%;
                    padding-left: 29px;
                }
                &__item{
                    padding-bottom: 0px;
                }
            }
        &-wrapper{
            width: 100%;
        }
        }
}