.ui-kit-cards{
    padding: 150px 140px;
    &__wrapper{
        display: flex;
    }
    &-left-list{
        margin-right: 39px;
        &__item{
            margin-bottom: 40px;
        }
    }
    &-middle-list{
        margin-right: 39px;
    }
}