.landing-page{
    display: flex;
    background-image: url(../images/landing-page.png);
    background-repeat: no-repeat;
    max-width: 100%;
    height: auto;
    position: relative;
    min-height: 830px;
    background-position: 0px -70px;
    &__item{
        font-family: Montserrat-Regular;
        font-size: 14px;
        line-height: 24px;
        text-align: right;
        position: absolute;
        right: 0;
        bottom: 0;
        margin-right: 134px;
        margin-bottom: 20px;
    }
}
@media (max-width: 1162px) {
    .landing-page{
        min-height: 500px;
    }
}
@media (max-width: 769px) {
    .landing-page{
        
    }
}


