doctype html
html(lang='ru')
  include blocks/head/_head
  body
    include blocks/header/_header
    .landing-page
      include blocks/room-selection/_room-selection
    include blocks/footer/_footer