doctype html
html(lang='ru')
  include blocks/head/_head
  body
    .centering-wrapper
      include blocks/header/_header
      include blocks/landing-page/_landing-page
      include blocks/footer/_footer