doctype html
html(lang='ru')
  include blocks/head/_head
  body
      include blocks/header/_header
      .landing-page
      .room-selection
        .room-selection__info Найдём номера <p> под ваше пожелания
        .room-selection-list
          .room-selection-list-arrival Прибытие
            input.room-selection-list-arrival__form(type="ДД.ММ.ГГГГ")
          .room-selection-list__departure Выезд
            input.room-selection-list-departure__form(type="ДД.ММ.ГГГГ")
          .room-selection-list__item Гости
            input.room-selection-list__quests(type="Сколько гостей")
        button.room-selecton__button Подобрать номер
      footer
        .centering-wrapper
          footer-logo-menu
            include blocks/logo-form/_logo-form
            footer-info__item Бронирование номеров  в лучшем отеле 2019 года по версии ассоциации "Отельные взгляды"
          ul.footer-nav-list Навигация  
            li.footer-nav-list__item
              a(href="#") О нас
            li.footer-nav-list__item  
              a(href="#") Новости
            li.footer-nav-list__item
              a(href="#") Служба поддержки
            li.footer-nav-list__item
              a(href="#") Услуги
          ul.footer-about-list О нас
            li.footer-about-list__item О сервисе
            li.footer-about-list__item Наша компанда
            li.footer-about-list__item Вакансии
            li.footer-about-list__item Инвесторы
          ul.footer-support-list Служба поддержки
            li.footer-support-list__item Соглашения
            li.footer-support-list__item Сообщество
            li.footer-support-list__item Связь с нами
          ul.footer-subscription_list Подписка
            li.footer-subscription-list__item Получайте специальные предложения и носоти сервиса
            li.footer-subscription-list__item input(type="Email")
          .under-footer Copyright © 2018 Toxin отель. Все права защищены.
            ul.under-footer-social-list
              li.under-footer-social-list__item 
              li.under-footer-social-list__item 
              li.under-footer-social-list__item 