doctype html
html(lang='ru')
  include blocks/head/_head
  body.body
    .centering-wrapper
      .styles
        .ul.styles-colors-menu
          li.styles-colors-menu__list.styles-colors-menu__shade100
            span.styles-colors-menu__info 
              p Dark Shade 100%
              p.styles-colors-menu__code #1F2041
          li.styles-colors-menu__list.styles-colors-menu__shade75 
            span.styles-colors-menu__info 
              p Dark Shade 75%
              p.styles-colors-menu__code #1F2041
          li.styles-colors-menu__list.styles-colors-menu__shade50
            span.styles-colors-menu__info 
              p Dark Shade 50%
              p.styles-colors-menu__code #1F2041
          li.styles-colors-menu__list.styles-colors-menu__shade25 
            span.styles-colors-menu__info 
              p Dark Shade 25%
              p.styles-colors-menu__code #1F2041
          li.styles-colors-menu__list.styles-colors-menu__shade05
            span.styles-colors-menu__info 
              p Dark Shade 5%
              p.styles-colors-menu__code #1F2041
          li.styles-colors-menu__list.styles-colors-menu__button-text
            span.styles-colors-menu__info 
              p Purple
              p.styles-colors-menu__code #BC9CFF
          li.styles-colors-menu__list.styles-colors-menu__second 
            span.styles-colors-menu__info 
              p Green
              p.styles-colors-menu__code  #6FCF97
        .ul.styles-type-menu
          li.styles-type-menu__list.styles-type-menu__h1 This one is the sub-section or<br> widget title
          li.styles-type-menu__list.styles-type-menu__h2 Next one is the item title inside<br> widgets
          li.styles-type-menu__list.styles-type-menu__h3 This is a label or CTA text
          li.styles-type-menu__list.styles-type-menu__body This is the body text which is used for most <br> of the design, like paragraphs, lists, etc.
  footer.footer
   nav.footer-nav
    ul.footer-nav-menu
      li.footer-nav-menu__list
        a.footer-nav-menu__link(href="#") Colors & Type
      li.footer-nav-menu__list
        a.footer-nav-menu__link(href="") Cards
      li.footer-nav-menu__list
        a.footer-nav-menu__link(href="") Headers & Footers
      li.footer-nav-menu__list
        a.footer-nav-menu__link(href="") Form Elements