header.header
  include ../logo-form/_logo-form
  .header-UIkit
    a.header-UIkit__link(href="ui-kit-colors-type.html") UI-kit
  nav.header-menu
    ul.header-menu-list 
      li.header-menu-list__item
        a.header-menu-list__link(href="#") О нас
      li.header-menu-list__item
        a.header-menu-list__link.header-menu__expand-more(href="#") Услуги
      li.header-menu-list__item
        a.header-menu-list__link(href="#") Вакансии
      li.header-menu-list__item
        a.header-menu-list__link(href="#") Новости
      li.header-menu-list__item
        a.header-menu-list__link.header-menu__expand-more(href="#") Соглашения
  .header-auth
    button.header-auth__login Войти
    button.header-auth__register Зарегистрироваться