header.header
    .center-wrapper
      include ../logo-form/_logo-form
      nav.header-nav
        ul.header-menu-list 
          li.header-menu-list__item
            a.font-style(href="#") О нас
          li.header-menu-list__item
            a.font-style(href="#") Услуги
          li.header-menu-list__item
            a.font-style(href="#") Вакансии
          li.header-menu-list__item
            a.font-style(href="#") Новости
          li.header-menu-list__item
            a.font-style(href="#") Соглашения
      .header-auth
        button.header-auth__login Войти
        button.header-auth__regster Зарегистрироваться