header.header
  .centering-wrapper
    include ../logo-form/_logo-form
    nav.header-menu
      ul.header-menu-list 
        li.header-menu-list__item
          a.header-menu-list__link(href="#") О нас
        li.header-menu-list__item
          a.header-menu-list__link(href="#") Услуги
          span.header-menu-list__expand-more 
        li.header-menu-list__item
          a.header-menu-list__link(href="#") Вакансии
        li.header-menu-list__item
          a.header-menu-list__link(href="#") Новости
        li.header-menu-list__item
          a.header-menu-list__link(href="#") Соглашения
          span.header-menu-list__expand-more 
    .header-auth
      button.header-auth__login Войти
      button.header-auth__register Зарегистрироваться