$main-color: #1F204180;
$primary-gradient: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);

.header{
    height: 70px;
    display: flex;
    background-color: white;
    position: relative;
    z-index: 1;
    box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);
    &-menu{
        padding-left: 24.5%;
        align-items: center;
        display: flex;
        line-height: 20px;
            &-list{
                display: flex;
                list-style-type: none;
                align-items: center;
                height: 100%;
                &__item{
                    margin-right: 20px;
                }
                &__link{
                    font-family: Montserrat-Regular;
                    font-size: 14px;
                    color: $main-color;  
                    text-decoration: none;
                }
        }
            &__expand-more::after{
                content: url(/src/images/expand_more.svg);
                margin-left: 8px;
                margin-right: 5px;
            }
    }
    &-auth{
        display: flex;
        align-items: center;
        margin-left: 1px;
            &__login{
                font-family: Montserrat-Bold;
                font-size: 12px;
                height: 34px;
                width: 87px;
                align-items: center;
                justify-content: center;
                text-transform: uppercase;
                border: solid 2px transparent;
                background-image: linear-gradient(white, white), $primary-gradient;
                background-origin: border-box;
                background-clip: content-box, border-box;
                border-radius: 22px;
                color: #BC9CFF;
                padding: 0;
            }
            &__register{
                font-family: Montserrat-Bold;
                font-size: 12px;
                font-weight: 700;
                align-self: center;
                justify-content: center;
                text-transform: uppercase;
                background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
                height: 34px;
                width: 196px;
                border-radius: 22px;
                border: transparent;
                color: white;
                margin-left: 20px;

            }
        }    
    }
