.room-selection
  .room-selection__wrapper
      .room-selection__info Найдём номера под ваши пожелания
      .room-selection-list
        .room-selection-list__arrival Прибытие
          .room-selection-list__form-wrapper
            input.room-selection-list__form(type="ДД.ММ.ГГГГ")(placeholder="ДД.ММ.ГГГГ")
        .room-selection-list__departure Выезд
          .room-selection-list__form-wrapper
            input.room-selection-list__form(type="ДД.ММ.ГГГГ")(placeholder="ДД.ММ.ГГГГ")
        .room-selection-list__guests Гости
          .room-selection-list__form-wrapper
            input.room-selection-list__guests-form(type="Сколько гостей")(placeholder="Сколько гостей")
      button.room-selection__button Подобрать номер