.room-selection
    .room-selection__wrapper
        .room-selection__info Найдём номера под ваши пожелания
        .room-selection-list
          .room-selection-list__arrival Прибытие
            input.room-selection-list__form(type="ДД.ММ.ГГГГ")(placeholder="ДД.ММ.ГГГГ")
          .room-selection-list__departure Выезд
            input.room-selection-list__form(type="ДД.ММ.ГГГГ")(placeholder="ДД.ММ.ГГГГ")
          .room-selection-list__guests Гости
            input.room-selection-list__guests-form(type="Сколько гостей")(placeholder="Сколько гостей")
        button.room-selection__button Подобрать номер
            span.room-selection__arrow_forward