@use "../../styles/vars.scss" as *;

.room-selection{
    border: 1px solid rgba(0, 0, 0, 0.12);
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    margin: 70px 140px;
    display: flex;
    height: 372px;
    width: 378px;
    border-radius: 4px;
    background: white;
    &__wrapper{
        padding: 40px 0px 0px 29px;
        display: flex;  
        box-sizing: border-box;
        flex-wrap: wrap;
        flex-direction: column;
    }
    &__info{
        font-family: $SecondFont;
        font-size: 24px;
        line-height: 29px;
        padding-bottom: 24px;
        width: 80%;
    }
    &-list{
        flex-wrap: wrap;
        display: flex;
        &__arrival{
            font-family: $SecondFont;
            font-size: 12px;
            font-weight: 700;
            text-transform: uppercase;
            margin-right: 20px;
        }
        &__form-wrapper{
            position: relative;
            margin-top: 6px;
            &::after{
                position: absolute;
                content: url(/src/images/expand_more.svg);
                right: 0;
                top: 0;
                margin-right: 16px;
                margin-top: 17px;
            }
        }
        &__form{
            width: 144px;
            height: 40px;
            border: 1px solid $primary-color25;
            border-radius: 4px;
            align-items: center;
            &::placeholder{
                font-family: $MainFont;
                font-size: 14px;
                font-weight: 400;
                padding-left: 12px;
            }
        }
        &__departure{
            font-family: $SecondFont;
            font-size: 12px;
            font-weight: 700;
            text-transform: uppercase;
            margin-bottom: 22px;
        }
        &__guests{
            font-family: $SecondFont;
            font-size: 12px;
            font-weight: 700;
            text-transform: uppercase;
        }
        &__guests-form{
            display: flex;
            width: 314px;
            height: 40px;
            border: 1px solid $primary-color25;
            border-radius: 4px;
            margin: 6px 0px 31px 0px;
            &::placeholder{
                font-family: $MainFont;
                font-size: 14px;
                font-weight: 400;
                padding-left: 4%;
            }
        }  
    }
    &__button{
        position: relative;
        display: flex;
        align-items: center;
        font-family: $SecondFont;
        font-size: 12px;
        justify-content: center;
        text-transform: uppercase;
        background: $primary-gradient;
        height: 44px;
        width: 320px;
        border-radius: 22px;
        border: transparent;
        color: white; 
        &::after{
            position: absolute;
            content: url(/src/images/arrow_forward.svg);
            right: 0;
            top: 0;
            margin-top: 13px;
            margin-right: 13px;
        }
    }

}

@media (max-width: 1162px) {
    .room-selection{
        margin: 70px 140px;
    }
}
@media (max-width: 769px) {
    .room-selection{
        margin: 50px 70px;
    }
}