@use "/src/styles/vars.scss" as *;

.body{
    padding: 145px 150px;
}
.styles{
    display: flex;
    justify-content: space-between;
    &-colors-menu{
        font-family: $SecondFont;
        list-style-type: none;
        font-size: 19px;
        width: 30%;
        margin-right: 100px;
        &__list{
            display: flex;
            margin-bottom: 20px;
            word-wrap: normal;
            align-items: center;
            &::before {
                margin-right: 40px;
                height: 70px;
                width: 70px;
                text-rendering: auto;
                -webkit-font-smoothing: antialiased;
                content: "";
        }
        }
        &__code{
           font-family: $MainFont;
           padding-top: 15px;
        }
        &__shade100::before{
            background-color: $primary-color;
        }
        &__shade75::before{
            background-color: $primary-color75;
        }
        &__shade50::before{
            background-color: $primary-color50;
        }
        &__shade25::before{
            background-color: $primary-color25;
        }
        &__shade05::before{
            background-color: $primary-color05;
        }
        &__button-text::before{
            background-color: $button-text 
        }
        &__second::before{
            background-color: $second-color;;
        }
    }
    &-type-menu{
        font-family: $SecondFont;
        color: $primary-color;
        list-style-type: none;
        word-wrap: wrap;
        &__list{
            text-align: left;
            display: flex;
            margin-bottom: 50px;
            &::before{
                font-family: $MainFont;
                display: flex;
                color: $primary-color25;
                margin-right: 30px;
                width: 50px;
                justify-content: flex-end;
            }
        }
        &__h1{
            line-height: 29px;
            font-size: 24px;
            &::before{
                content: ('H1');
            }
        }
        &__h2{
            font-size: 19px;
            line-height: 23px;
            &::before{
                content: ('H2');
            }
        }
        &__h3{
            font-size: 12px;
            text-transform: uppercase;
            &::before{
                content: ('H3');
            }
        }
        &__body{
            font-size: 14px;
            font-family: $MainFont;
            color: $primary-color75;
            line-height: 24px;
            &::before{
                content: ('Body');
            }

        }
    }
}
.footer{
    &-nav{
        &-menu{
            display: flex;
            flex-direction: row;
            font-family: $MainFont;
            font-size: 14px;
            line-height: 38px;
            justify-content: space-between;
            font-size: 20px;
            &__list{

            }
            &__link{
                text-decoration: none;
                color: $primary-color50;
            }
        }
    }

}
